

<div class="book_info">
<div class="number"></div>
<div class="book_image"><img class="photo" src="data:image/jpeg;base64,<%= Base64.strict_encode64(show_image(isbn)) %>",alt="書影">
</div>
<div class="title"><%=title%></div>
<div class="publish_info"><%=publisher%></div>
<div class="year"><%=publish_year%></div>
</div>